<%- include('../partials/header') %>

      <div id="create-wrapper">
<h1>Create Flight</h1>

<form action="/flights/new" method="POST"  id="addticket-form">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Airline</label>
      <select class="selectpicker form-control" name="airline"> 
        <% flightCreationData.airlines.forEach(function(airline) { %>
          <option value="<%= airline %>"><%= airline %></option>
        <% }) %>
      </select>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Airport</label>
      <select class="selectpicker form-control" name="airport"> 
        <% flightCreationData.airports.forEach(function(airport) { %>
          <option value="<%= airport %>"><%= airport %></option>
        <% }) %>
      </select>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Flight No</label>
        <input class="form-control" name="flightNo" required pattern="^\d{4}" title="Please enter 4 digit flight number!">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Departure</label>
        <input class="form-control" type="datetime-local"  name="departs" value="<%= flightCreationData.defaultDepartureDateString %>">
      </div>
    <button type="submit" class="btn btn-primary">Create Flight</button>
  </form>
</div>

<%- include('../partials/footer') %>
