<%- include('../partials/header') %>

      <div id="details-wrapper">
        <h2>Details About Flight #<%= flight.flightNo %> From:<%= flight.airport %> </h2>

        <form action="/flights/<%= flight._id %>/tickets/new" method="GET" id="addticket-form"></form>

        <form action="/flights/<%= flight._id %>" method="POST" id="details-form">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Airport</label>
            <select class="selectpicker form-control" name="airport"> 
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN">DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
            </select>
          </div>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Arrival</label>
              <input class="form-control" name="arrival" type="datetime-local" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Details</button>
            <button class="addticket-btn btn btn-warning" type="submit" method="GET" form="addticket-form">Add Ticket</button>
            <h2 id="tickets"><%= tickets.length ? "Tickets" : "" %></h2>
            <% tickets.forEach(function(t)  { %>
              <li class="list-group-item list-group-item-warning"> Seat: <%= t.seat %> Price: $<%= t.price %></li>
              <% }) %>

            <h2 id="destinations"><%= flight.destinations.length ? "Destinations" : "" %></h2>
            <ul class="list-group">
                <% flight.destinations.forEach(function(dest)  { %>
                <li class="list-group-item list-group-item-info">Airport: <%= dest?.airport || "N/A" %> - Arrival: <%= dest?.arrival.toLocaleDateString('en-us') || "No Arrival Date" %></li>
                <% }) %>
              </ul>
        </form>
        
<%- include('../partials/footer') %>
